body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
    background: url("pattern-dark.png") repeat #444;
}
.logo {
    width: auto\9; /* ie8 */
    margin-bottom: 10;
}
#ajaxBusy {
  display: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 66px;
  height: 66px;
  text-align: center;
  background: url(/ajax-loader.gif) no-repeat center center;
  border: 0px;
}
